In [ ]:
#Lambda continue

In [ ]:
x= 5
y =8
if x < y :
  print(x, 'is smaller than' , y)
elif x > y:
  print(x, 'is greater than' , y)
else:
  print(x, 'is equal to ', y )

#lambda Equivalent

result = lambda x,y: f"{x} is smaller than {y}" if x < y else f"{x} is greater than {y}" if x > y else f"{x} is equal ton {y}"

5 is smaller than 8

In [ ]:
result = lambda x,y : f"{x} is smaller than {y}" \
if x < y else (f"{x} is greater than {y}" if x > y \
               else f"{x} is equal to {y}")

In [ ]:
percentage= 70
if (percentage >= 80):
  print('Pass with first div')
elif (percentage >= 60):
  print('Pass with first class ')
elif (percentage >=40):
  print('pass with second class')
elif(percentage >= 32):
  print('pass with third class')

else:
  print('Better Luck Next time')

Pass with first class

In [ ]:
result = lambda percentage: f"{percentage} Pass with first div" if (percentage >= 80) else (\
                            f"{percentage} Pass with first class" if (percentage >= 60) else (\
                            f"{percentage} pass with second class" if percentage >=40 else (\
                            f"{percentage} pass with third class" if percentage >= 32 else (\
                            f"{percentage} Better Luck Next time" ))))

In [ ]:
result(90), result(83), result(78), result(67), result(50), result(43), result(33), result(23)

('90 Pass with first div',
 '83 Pass with first div',
 '78 Pass with first class',
 '67 Pass with first class',
 '50pass with second class',
 '43pass with second class',
 '33 pass with third class',
 '23Better Luck Next time')

In [ ]:
comment = lambda percentage: 'Pass with first div' if (percentage >= 80) else 'Pass with first class ' if (percentage >= 60) else 'pass with second class' if percentage >=40 else 'pass with third class' if percentage >= 32 else 'Better Luck Next time'

In [ ]:
comment (56), comment (80)

('pass with second class', 'Pass with first div')

In [ ]:
def func_sum(a,b):
  return a + b

In [ ]:
def func_sum(a,b,c,d):
  return a + b + c + d

In [ ]:
def func_sum(a,b,c,d,e,f,g,h):
  return a + b + c + d + e + f + g + h

In [ ]:
# if variable keeps changing either deacreasing or increasing, solution is arguments ,, *args


def func_sum(*args):    #args= non keyboard arguments
  return sum(args)

In [ ]:
def func_sum(*sameer):
  return sum(sameer)
func_sum1= func_sum(1,2,34,5,67,7,77,7,7,)
print(func_sum1)

207

In [ ]:
def func_sum(*args,a,b,c):
  return a+b+c +(sum(args))

In [ ]:
func_sum(12,32,43,34,54,65,76,34343,545454,656)  # error because *args took all the values

TypeError: ignored

In [ ]:
def func_sum(a,b,c,d,e,*args):
  return a+b+c+d+e +(sum(args))
func_sum(1,2,3,4,5,6,7,8,9)

45

In [ ]:
def func_sum(*args,a,b,c,d,e):
  return (*args,a,b,c,d,e)
func_sum({'a':12,'b':23,'c':34,'d':45,'e':56},67,78,89,90,101)

TypeError: ignored

In [ ]:
def func_sum(**kwargs):
  return kwargs

In [ ]:
func_sum(fname='sameer', mname='prasad', lname='neupane')

{'fname': 'sameer', 'mname': 'prasad', 'lname': 'neupane'}

In [ ]:
def func_max(**kwargs):
    return max(kwargs.values())

result = func_max(a=12, b=32,c=43, d=546, e=642, f=4343, g=65, h=53, i=564, j=3543)
print(result)

4343

In [ ]:
def func_abc(*args, **kwargs):
    return (args, kwargs)

result = func_abc(1, 2, 3, 4, 45, 4, 5, 4, a='apple', b='ball', c='cat')
print(result)

((1, 2, 3, 4, 45, 4, 5, 4), {'a': 'apple', 'b': 'ball', 'c': 'cat'})

In [ ]:
def func_abc(**kwargs, *args):
    return (args, kwargs)

result = func_abc(1, 2, 3, 4, 45, 4, 5, 4, a='apple', b='ball', c='cat')
print(result)

SyntaxError: ignored

In [ ]:
def func_abc(*args, **kwargs, a,b,c):
    return (args, kwargs,a,b,c)

result = func_abc(1, 2, 3, 4, 45, 4, 5, 4, a='apple', b='ball', c='cat')
print(result)

SyntaxError: ignored

In [ ]:
def func_abc(a,b,c, *args, **kwargs):
    return (a,b,c, args, kwargs)

result = func_abc(1, 2, 3, 14, 45, 46, 5, 4, a1='apple', b2='ball', c3='cat')
print(result)

(1, 2, 3, (14, 45, 46, 5, 4), {'a1': 'apple', 'b2': 'ball', 'c3': 'cat'})