In [ ]:
lst1=[12,21,34,54,23,65,87,54]
for i in lst1:
  print('value of i', i)

In [ ]:
tup1=('apple','banana','cherries','dates','fig')

for i in tup1:
  print('Value of i', i)

Value of i apple
Value of i banana
Value of i cherries
Value of i dates
Value of i fig

In [ ]:
set1={'apple','banana','cherries','dates','fig',12,21,34,54,23,65,87,54}
for i in set1:
  print('Value of i', i)

Value of i banana
Value of i 65
Value of i 34
Value of i dates
Value of i 12
Value of i fig
Value of i apple
Value of i cherries
Value of i 21
Value of i 54
Value of i 23
Value of i 87

In [ ]:
str1='peppa prefer python programming'

print(len(str1))
for i in str1:
  print('value of i', i)

31
value of i p
value of i e
value of i p
value of i p
value of i a
value of i
value of i p
value of i r
value of i e
value of i f
value of i e
value of i r
value of i
value of i p
value of i y
value of i t
value of i h
value of i o
value of i n
value of i
value of i p
value of i r
value of i o
value of i g
value of i r
value of i a
value of i m
value of i m
value of i i
value of i n
value of i g

In [ ]:
dict1={'a':'apple','b':'ball','c':'cat','d':'dog'}
for i in dict1:
  print('value of i', i )

value of i a
value of i b
value of i c
value of i d

In [ ]:
for i in range(10): #index always starts from 0
  print('value of i',i)

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [ ]:
for i in range(0, 10, 2): #(start value: end value: steps)
  print('value of i',i)

value of i 0
value of i 2
value of i 4
value of i 6
value of i 8

In [ ]:
for i in range (10):
  for j in range (10):
    print('*', end=' ')
  print('\r')

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
k=0
for i in range(10):
  for j in range (10):
    k+=1
    print(k, end= ' ')
  print('\r')

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [ ]:
for i in range(10):
  for j in range(0,i):
    print('', end=' ')
  for k in range(10,i,-1):
    print('*', end =' ')
  print('\r')

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [ ]:
for i in range(10):
  for j in range(0,10-i):
    print(' ', end=' ')
  for k in range(0,i+1):
    print('*', end =' ')
  print('\r')

                    *
                  * *
                * * *
              * * * *
            * * * * *
          * * * * * *
        * * * * * * *
      * * * * * * * *
    * * * * * * * * *
  * * * * * * * * * *

In [ ]:


for i in range (10):   # draw 10 rows
  for i in range (0,10-i): #draws 10 columns decreasing from 10
      print("", end="")    # print spaces
  for k in range (0,i+1):  # starting from 1 to 10
      print('*', end= " ")  #print *
  print('\r')

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range (10):
  for i in range (0,1+i):
    print(" ", end="")
  for k in range (0,10-i):
      print('*', end= " ")
  print('\r')
for i in range(1,10):
  for j in range(0,10-i):
    print('', end=' ')
  for k in range(0,i+1):
    print('*', end =' ')
  print('\r')

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:

for i in range (10):
  for j in range(10):
    if (i==0 or i==10) or (j==0 or j ==10):
      print('*')
    else:
      print(' ')

In [ ]:
#Question 1) Remove all repeated elements from the list Given below using for loop.
# a=[1,2,3,4,5,11,1,2,6,1,8]

a = [1, 2, 3, 4, 5, 11, 1, 2, 6, 1, 8]
b = []

for i in a:
    if i not in b:
        b.append(i)

print(b)

[1, 2, 3, 4, 5, 11, 6, 8]

In [ ]:
# Question 2) Print all prime numbers below 100