In [ ]:
#Print 10* 10 pattern
for i in range (0,10,1): #print all rows  #--- for each value of i j will run 10 times
  for j in range (0,10,1):  #print all 10 * asteriks
      print('*', end='')
  print('\r')

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [ ]:

#print reverse triangle

for row in range(0,10,1): #print 10 rows
  for space in range(0,row):  # print spaces in range of 0, rows
    print(' ', end='')
  for asttri  in range(10,row,-1):
    print("*", end=" ")
  print('\r')

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [ ]:
for row in range(0,10,1): #print 10 rows
    for asttri  in range(10,row,-1):
      print("*", end=" ")
    for space in range(0,row):  # print spaces in range of 0, rows
      print(' ', end='')

    print('\r')

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:



row = int(input("Enter number of rows"))

for i in range(row):
  for j in range(row-i):
    print(' ', end='') # printing space required and staing in same line


    for j in range (2*i+1):
      if j ==0 or j==2*i or

In [ ]:
#fibonacci series

a=0
b=1
print(a,b, end='')

for i in range(10):
  c=a+b
  print(c, end=' ')

  a=b
  b=c

0 11 2 3 5 8 13 21 34 55 89

In [ ]:
#with 2-2 examples and algorithm
#supervised learning :
#unsupervised learning
#reinforcement learning

In [ ]:
#pallindrome

str1=input("Enter any word ")

if str1==str1[::-1]:
  print(str1, "is Pallindrome")
else:
  print(str1, "is not a  Pallindrome")

Enter any word 676
676 is Pallindrome

In [ ]:
#Write a program in Python to display the Factorial of a number.

a=int(input("Any number you want to find factorial"))

for i in range(2,a):
  fact*=i
  print(fact)

In [ ]:


num = int(input("Enter a number: "))
factorial=1
for i in range(1, num + 1):
    factorial *= i
print("The factorial of", num, "is", factorial)

Enter a number: 0
The factorial of 0 is 1

In [ ]:
#WAP to separate positive and negative number from a list.

lista=[1,2,3,4-10,-12,6,7,-43,5]
listb=[]
listc=[]

for i in lista:
  if i  <0:
    listb.append(i)
  else:
    listc.append(i)
print(listb," is the negative numbers")
print(listc," is the positive numbers")

[-6, -12, -43]  is the negative numbers
[1, 2, 3, 6, 7, 5]  is the positive numbers

In [ ]:
#WAP fibonacci series
a=0
b=1

num=int(input("enter the terms"))
print(a,b, end=" ")
for i in range(num-2):
  c=a+b
  print(c, end=' ')
  a=b
  b=c

enter the terms10
0 1 1 2 3 5 8 13 21 34