In [ ]:
class person:
  def __init__ (self, fname , lname):
    self.firstname=fname
    self.lastname=lname

  def printname(self):
    print(self.firstname, ' ', self.lastname)

In [ ]:
obj1= person('sameer', 'neupane')
obj1.printname()

sameer   neupane

In [ ]:
class childclass(person):
  pass

In [ ]:
obj2=childclass('sam', 'Eer')
obj2.printname()

sam   Eer

In [ ]:
class childclass(person):
  def __init__ (self, mname ):

  def printname(self):
    print("class childclass person:" , self.firstname, self.middlename,  self.lastname)

In [ ]:
obj1= childclass('Sameer',)

In [ ]:
class EmployeeRecord:
  def __init__ (self, name, address, ):
    self.fullname=name
    self.location=address

  def printEmpDetails(self):
    print("Employee Details:",self.fullname,self.location )

In [ ]:
obj1= EmployeeRecord('Sameer Neupane', ',' '777 Huron Street')
obj1.printEmpDetails()

Employee Details: Sameer Neupane ,777 Huron Street

In [ ]:
class ITDept(EmployeeRecord):
  def __init__(self, name, address, position):
    super().__init__(name, address)

In [ ]:
obj1=ITDept('sam', 'eer','aa')
obj1.printEmpDetails()

Employee Details: sam eer

In [ ]:
class car:
  def __init__(self, name, model):
    self.name = name
    self.model = model
  def print_details(self):
    print('class car: ', self.name , self.model)

In [ ]:
class audi(car):
  def __init__(self,name,model):
    super().__init__(name, model)

In [ ]:
obj1 = audi('audi 777', 777)

In [ ]:
obj1.print_details()

class car:  audi 777 777

In [ ]:
class audi(car):
  def __init__(self,name,model,make):
    super().__init__(name, model)
    self.make = 1978

  def print_details(self):
    print(self.name,self.model, self.make)

In [ ]:
obj1 = audi('audi', 777, 1978)

In [ ]:
obj1.print_details()

audi 777 1978

In [ ]:
#1) Write a program to print twin primes less than 1000. If two consecutive odd numbers are both prime then they are known as twin primes
# Logical Breaking
#first part iterate till 1000
#second part check for oddd numbers
#third both numbers should be prime

input("Enter the number")
for i in range (2,1000):