**Friday August 25, 2023**
Encapsulation is used to restrict access to methods and variables. In encapsulation, code and data are wrapped together within a single unit from being modified by accident. Encapsulation is a mechanism of wrapping the data (variables) and code acting on the data (methods) together as a single unit.

In [ ]:
# Encapsulation

class transport:

  def __init__(self, brand, model, year):
    self.brandofvehicle = brand
    self.modelofvehicle = model
    self.yearofmfg = year

  def print_details(self):
    print(self.brandofvehicle,self.modelofvehicle,self.yearofmfg)

In [ ]:
obj1 = transport('Toyota', 'Camry', '2023')

In [ ]:
obj1.print_details()

Toyota Camry 2023

In [ ]:

class Animal:
  def __init__(self, name, sound, ):
    self.name= name
    self.sound= sound
  def PrintDetails(self):
    print(self.name,self.sound)

In [ ]:
class Mammal(Animal):
  def __init__ (self, move):
    self.move= move
  def PrintMoveDetails(self):
    print(self.move)

In [ ]:
obj1= Animal('cow','mooo',)
obj2= Mammal('walk')

In [ ]:
obj1.PrintDetails()
obj2.PrintMoveDetails()

cow mooo
walk

In [ ]:
class Students:
   def __init__(self, name, rank, points):
      self.name = name
      self.rank = rank
      self.points = points

   # custom function
   def demofunc(self):
      print("I am "+self.name)
      print("I got Rank ",+self.rank)

# create 4 objects
st1 = Students("Steve", 1, 100)
st2 = Students("Chris", 2, 90)
st3 = Students("Mark", 3, 76)
st4 = Students("Kate", 4, 60)

# call the functions using the objects created above
st1.demofunc()
st2.demofunc()
st3.demofunc()
st4.demofunc()

I am Steve
I got Rank  1
I am Chris
I got Rank  2
I am Mark
I got Rank  3
I am Kate
I got Rank  4




#**Exception Handling**

      1. Build-in Exception
      2. User Define Exception

In [ ]:
f = open('MyTextFile.Txt', 'x')

FileExistsError: ignored

In [ ]:
f = open('MyTextFile.Txt1', 'r')

In [ ]:
try:
  f = open('MyTextFile.Txt1', 'r')
except Exception as e:
    print('Exception ', e)

Exception  [Errno 2] No such file or directory: 'MyTextFile.Txt1'

In [ ]:
ZeroDivisionError

In [ ]:
try:
  # f = open('myTextFile.txt', 'r')
  a = 10/0

except FileNotFoundError as fnfe:
  print('FileNotFoundError ', fnfe)
except ZeroDivisionError as zde:
  print('ZeroDivisionError ', zde)
except ArithmeticError as ae:
  print('ArithmeticError ', ae)
except Exception as e:
  print('Exception ', e)

ZeroDivisionError  division by zero

In [ ]:
#WAP with differnet exceptions

try:
  a= 10/0
  age= int(input(""))

except ZeroDivisionError as zde:
  print('ZeroDivisionError ', zde)

ZeroDivisionError  division by zero

In [ ]:
try:
    f= open ('mytext.txt', 'r')
except FileNotFoundError as fnfe:
  print('FileNotFoundError ', fnfe)

FileNotFoundError  [Errno 2] No such file or directory: 'mytext.txt'

In [ ]:
try:
    age = int(input("Enter your age: "))
except ValueError as ve:
    print("ValueError:", ve)

Enter your age: g65
ValueError: invalid literal for int() with base 10: 'g65'

In [ ]:
try:
    my_list = [1, 2, 3]
    print(my_list[5])
except IndexError as ie:
    print("IndexError:", ie)

IndexError: list index out of range

In [ ]:
try:
    my_dict = {'key1': 'value1'}
    print(my_dict['key2'])
except KeyError as ke:
    print("KeyError:", ke)

KeyError: 'key2'

In [ ]:
try:
    result = "2" + 2
except TypeError as te:
    print("TypeError:", te)

TypeError: can only concatenate str (not "int") to str

In [ ]:
class User_Defined_Exception (Exception):
  pass

In [ ]:
try:
  print('My first user defined exception ', 12/0)
except User_Defined_Exception as ude1:
  print("User defined exception 1")
except Exception as e:
  print('Exception ', e)

Exception  division by zero

In [ ]:
class AgeOfVoting(Exception):
  "Raise when the input is less than 18"
  pass

try:
  input_num = int(input('Enter Age '))
  if input_num < 18:
    raise AgeOfVoting
  else:
    print('Eligible for voting ')

except AgeOfVoting as aov:
  print('exception as Invalid Age')

Enter Age 78
Eligible for voting

In [ ]:
class AgeOfDrinking(Exception):
  pass

try:
  input_num = int(input('Enter Age '))
  if input_num < 19:
    raise AgeOfDrinking
  else:
    print('Eligible for drinking ')

except AgeOfDrinking as AgeOfDrinking:
  print('exception as Invalid Age')

Enter Age 32
Eligible for drinking