Wednesday August 31 2023

In [ ]:
!pip install pandas

# https://pandas.pydata.org/

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
!pip install pytorch

In [ ]:
import pandas as pd
path= '/content/Churn_Modelling.csv'
df= pd.read_csv(path)
print(df)

In [ ]:
path= '/content/Churn_Modelling.csv'
df_ChurnModelling_csv = pd.read_csv(path)
df_ChurnModelling_csv

In [ ]:
!pip install xlwt

Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100.0/100.0 kB 1.6 MB/s eta 0:00:00
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

In [ ]:
import xlwt

In [ ]:
df_ChurnModelling_csv.to_excel("df_ChurnModelling_xls.xls")

#df= data frame

<ipython-input-23-5350fe152f71>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_ChurnModelling_csv.to_excel("df_ChurnModelling_xls.xls")

In [ ]:
df_ChurnModelling_csv.to_excel("df_ChurnModelling_xlsx.xlsx")

In [ ]:
df_ChurnModelling_csv.to_html("df_ChurnModelling_html.html")

In [ ]:
df_ChurnModelling_csv.to_json("df_ChurnModelling_json.json")

In [ ]:
df_ChurnModelling_csv.to_xml("df_ChurnModelling_xml.xml")

In [ ]:
path_html= '/content/df_ChurnModelling_html.html'
Churn_Modelling_html= pd.read_html(path_html)
Churn_Modelling_html

[      Unnamed: 0  RowNumber  CustomerId    Surname  CreditScore Geography  \
 0              0          1    15634602   Hargrave          619    France
 1              1          2    15647311       Hill          608     Spain
 2              2          3    15619304       Onio          502    France
 3              3          4    15701354       Boni          699    France
 4              4          5    15737888   Mitchell          850     Spain
 ...          ...        ...         ...        ...          ...       ...
 9995        9995       9996    15606229   Obijiaku          771    France
 9996        9996       9997    15569892  Johnstone          516    France
 9997        9997       9998    15584532        Liu          709    France
 9998        9998       9999    15682355  Sabbatini          772   Germany
 9999        9999      10000    15628319     Walker          792    France

       Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
 0     Female   42       2       0.00              1          1
 1     Female   41       1   83807.86              1          0
 2     Female   42       8  159660.80              3          1
 3     Female   39       1       0.00              2          0
 4     Female   43       2  125510.82              1          1
 ...      ...  ...     ...        ...            ...        ...
 9995    Male   39       5       0.00              2          1
 9996    Male   35      10   57369.61              1          1
 9997  Female   36       7       0.00              1          0
 9998    Male   42       3   75075.31              2          1
 9999  Female   28       4  130142.79              1          1

       IsActiveMember  EstimatedSalary  Exited
 0                  1        101348.88       1
 1                  1        112542.58       0
 2                  0        113931.57       1
 3                  0         93826.63       0
 4                  1         79084.10       0
 ...              ...              ...     ...
 9995               0         96270.64       0
 9996               1        101699.77       0
 9997               1         42085.58       1
 9998               0         92888.52       1
 9999               0         38190.78       0

 [10000 rows x 15 columns]]

In [ ]:
path_xls= '/content/df_ChurnModelling_xls.xls'
ChurnModelling_xls= pd.read_excel(path_xls)
ChurnModelling_xls

In [ ]:
path_json= '/content/df_ChurnModelling_json.json'
ChurnModelling_json= pd.read_json(path_json)
ChurnModelling_json


**Components of Python Panda**

1. series --1D data
2. DataFrame -- multidimensional data

In [ ]:

import pandas as pd

lst1 = [ 12,213,234,34343,]
sr1 = pd.Series(lst1)
sr1, len(sr1), sr1.count(), sr1.ndim, type(sr1), sr1.size, sr1.dtype, sr1.item, sr1.items, sr1.nbytes, sr1.shape,

(0       12
 1      213
 2      234
 3    34343
 dtype: int64,
 4,
 4,
 1,
 pandas.core.series.Series,
 4,
 dtype('int64'),
 <bound method IndexOpsMixin.item of 0       12
 1      213
 2      234
 3    34343
 dtype: int64>,
 <bound method Series.items of 0       12
 1      213
 2      234
 3    34343
 dtype: int64>,
 32,
 (4,))

In [ ]:

#cannot create series from sets
import pandas as pd

set1 = {1, 2, 3, 4}
sr1 = pd.Series(set1)
sr1, sr1.ndim

In [ ]:
import pandas as pd
b_tup=(1,4,5,4,2,3,4)
sr1 = pd.Series(b_tup)
sr1, sr1.ndim

(0    1
 1    4
 2    5
 3    4
 4    2
 5    3
 6    4
 dtype: int64,
 1)

In [ ]:
str="Hello World"
sr1 = pd.Series(str)
sr1, sr1.ndim

(0    Hello World
 dtype: object,
 1)

In [ ]:
dict1 = {'a':'apple',
         'b':'banana',
         'c':'cherries'}
sr1 = pd.Series(dict1)
sr1, sr1.ndim

(a       apple
 b      banana
 c    cherries
 dtype: object,
 1)

In [ ]:
sr1, len(sr1), sr1.count(), sr1.ndim, type(sr1), sr1.size, sr1.dtype, sr1.item, sr1.items, sr1.nbytes, sr1.shape,

(a       apple
 b      banana
 c    cherries
 dtype: object,
 3,
 3,
 1,
 pandas.core.series.Series,
 3,
 dtype('O'),
 <bound method IndexOpsMixin.item of a       apple
 b      banana
 c    cherries
 dtype: object>,
 <bound method Series.items of a       apple
 b      banana
 c    cherries
 dtype: object>,
 24,
 (3,))