In [ ]:
# Basic data types
# list inbuilt functions
# string inbuilt functions
# slicing/indexing
# for loop
# while loop
# functions ==================== Doubt
# set
# dictonary
# if-else condtions
# exception handling ================ Doubt
# OOPS concepts

In [ ]:
# PROGRAM TO SUM USER INPUT UNTIL USER enters ZERO

n=int(input("Enter the number you want to sum "))
sum=0
while n!=0:
  sum=sum+n
  n=int(input("Enter the number you want to sum "))

print("total",sum)

In [ ]:
n=int(input("Enter the number you want to sum "))
sum=0
while True:
  if n!=0:
    sum=sum+n
    n=int(input("Enter the number you want to sum "))
  else:
    break
print("total",sum)

In [ ]:
# Functions

def calculate_sum(list_marks):
  sum_list=sum(list_marks)
  average=sum(list_marks)/len(list_marks)
  return sum_list,average

In [ ]:
performa=calculate_sum([1,5,16,19,20])
print(performa[0])
print(type(performa))

61
<class 'tuple'>

In [ ]:
b=(1,2)
c=1,
d=1,2,3,4,5,6

In [ ]:
print(c)
print(d)

(1,)
(1, 2, 3, 4, 5, 6)

In [ ]:
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
def calculate_sum(list_marks):
  sum_list=sum(list_marks)
  average=sum(list_marks)/len(list_marks)
  print(sum_list)
  print(average)

In [ ]:
performa=calculate_sum([1,5,16,19,20])

61
12.2

In [ ]:
print(performa)

None

In [ ]:
def calculate_sum(list_marks,class_average=80):
  sum_list=sum(list_marks)
  average=sum(list_marks)/len(list_marks)
  return average
  if average>class_average:
    print("Pass")
  else:
    print("Fail")

In [ ]:
calculate_sum([1,5,16,19,20])

61
12.2
Fail

In [ ]:
calculate_sum([100,5,16,19,20],class_average=30)

160
32.0
Pass

In [ ]:
sum_list=[1,2,3,4,5,6,7,8,234,43,43]

def calculate_sum(list_marks,class_average=80):
  sum_list=sum(list_marks)
  average=sum(list_marks)/len(list_marks)
  print(sum_list)
  if average>class_average:
    print("Pass")
  else:
    print("Fail")
  return sum_list


print(sum_list)
sum_list=calculate_sum(sum_list)
print(sum_list)

[1, 2, 3, 4, 5, 6, 7, 8, 234, 43, 43]
356
Fail
356

In [ ]:
# Exception handling
n=int(input("Enter the number you want to divide from"))
try:
  k=5/n
  print(k)
except Exception as e:
  print("Cant Divide by Zero")
finally:
  print("THIS BLOCK IS ALWAYS EXCECUTED")

In [ ]:
def divide_by_user_input(n):
  error=False
  try:
    k=5/n
    print(k)
  except ZeroDivisionError:
    print("Cant Divide by Zero")
    error=True
  finally:
    if error:
      n=int(input("Enter the number you want to divide from should be greater than 0"))
      divide_by_user_input(n)

In [ ]:
n=int(input("Enter the number you want to divide from"))
divide_by_user_input(n)

Enter the number you want to divide from 0
Cant Divide by Zero
Enter the number you want to divide from should be greater than 00
Cant Divide by Zero
Enter the number you want to divide from should be greater than 00
Cant Divide by Zero
Enter the number you want to divide from should be greater than 02
2.5