In [ ]:
#Friday August 11, 2023
#Basic Python Operators

In [ ]:
#arithmetic Operators
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)   # modolous -- gives remainder
print(a//b)  # floor division -- gives quotient
print(a**b)  #exponential

30
-10
200
0.5
10
0
100000000000000000000

In [ ]:
#comparision Operator
a=100
b=20

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
True
False
False
True

In [ ]:
#Assignment Operators

a=100
b=20

a+=b      #a=a+b
print(a,b)

a=100
b=20

a-=b
print(a,b)

a=100
b=20

a/=b
print(a,b)

a=100
b=20
a*=b
print(a,b)

a=100
b=20
a%=b
print(a,b)

a=100
b=20
a//=b
print(a,b)

a=100
b=2
a**=b
print(a,b)

120 20
80 20
5.0 20
2000 20
0 20
5 20
10000 2

In [ ]:
#logical operators
#and operator

# AND operator-- both condition should be true
a=100
b=20

print(a > 80 and b < 80)
print(a == 80 and b < 80)
print(a < 80 and b < 80)
print(a > 80 and b > 80)


# OR operator
#any condition is true returns true
print(a > 80 or b < 80)
print(a == 80 or b < 80)
print(a < 80 or b < 80)
print(a < 80 or b > 80)

True
False
False
False
True
True
True
False

In [ ]:
# Python Membership Operators

a = 100
b = [100,200,300,400,500]

a in b

# Python Membership Operators

a = 100
b = [100,200,300,400,500]

a not in b

# Python Membership Operators

a = 600
b = [100,200,300,400,500]

a in b

a not in b

True

In [ ]:
#python identity operators
a=100
b=20

a is b
a is not b

a=1000
b=200
a is b
a is not b

True

In [ ]:
#if statement

a=10
b=20

if a>b:
  print('a is greater  than b')

  a=10
b=20

if a<b:
  print('a is less  than b')

a is less greater than b

In [ ]:

a=100
b=20

if (a>b) and (a!=b):
  print('a is greater  than b')

a is greater  than b

In [ ]:
a=100
b=20

if (a>b) and (a==b):
  print('a is greater  than b')

In [ ]:
a=100
b=20

if (a<b) and (a==b):
  print('a is less  than b')

In [ ]:
a=100
b=20

if (a>b) or (a!=b):
  print('a is greater  than b')

a is greater  than b

In [ ]:
a=100
b=20

if (a<b) or (a==b):
  print('a is greater  than b')
else:
  print('We are in else section')

We are in else section

In [ ]:

percentage= 70
if percentage >=75:
  print('Distinction')
elif percentage>=60:
  print('First class')
elif percentage >=40:
  print('Second class')
elif percentage >=35:
  print('Third Class')
else:
  print('Better Luck Next Time')

First class

In [ ]:
#Nested if condition
a=100
if a>25:
  print('a is greater than 25')
  if a>50:
    print("a is greater than 50")
    if a>75:
      print("a is greater than 75")
      if a>100:
        print("a is greater than 100")
        if a>100:
         print("a is greater than 100")

a is greater than 25
a is greater than 50
a is greater than 75