  1. Standard Data Type
    1. Numbers
      1. Integer
      2. Float
      3. Complex
    2. Boolean
    3. String
  2. Data Structure Data Type
    1. List
    2. Tuple
    3. Set
    4. Dictionary

In [ ]:
# integer : Any whole number (+ve or -ve)
int1= 1947
print(int1)
print(type(int1))

int1= -1947
print(int1)
print(type(int1))

#float any combination of whole number and fractional number _ve or +ve

flt1= 3.1415
print(flt1)
print(type(flt1))

flt1= -3.1415
print(flt1)
print(type(flt1))

#complex: combination of integer or float or imaginary number +ve or -ve

complx1= 2 +3j
print(complx1)
print(type(complx1))

complx2= -2 -3j
print(complx1)
print(type(complx2))

1947
<class 'int'>
-1947
<class 'int'>
3.1415
<class 'float'>
-3.1415
<class 'float'>
(2+3j)
<class 'complex'>

In [ ]:
#Boolean : True and False
bool1= True
print(bool1)
print(type(bool1))

bool2= False
print(bool1)
print(type(bool2))

True
<class 'bool'>

In [ ]:
#String:
# any combination inside single or double quotes
# any combination inside triple single quotes
# any combination inside triple double quotes

str1= 'Python Programming'
print(str1)
print (type(str1))

str1= "Python Programming"
print(str1)
print (type(str1))


str2= '''Python Programming'''
print(str2)
print (type(str2))

str3= """Python Programming"""
print(str3)
print (type(str3))

#more examples on strings

str4= 'Hey there. ' "Do you mind showing some examples of string data type of Python? "  """ I am confused."""
print(str4)
print (type(str4))

Python Programming
<class 'str'>
Python Programming
<class 'str'>
Python Programming
<class 'str'>
Python Programming
<class 'str'>
Hey there. Do you mind showing some examples of string data type of Python?  I am confused.
<class 'str'>

In [ ]:
#list: Combination of

#1. Represented by square bracket []
#2. List is mutable i.e. can be changed or manipulated

lst1= [12,23,32,43,56]
print(lst1)
print(type(lst1))

[12, 23, 32, 43, 56]
<class 'list'>

In [ ]:
#tuple
#1. Represented by circular bracket ()
#2. List is inmutable i.e. can't be changed or manipulated

tup1= (1,2,3,4,5,6,7)
print(tup1)
print(type(tup1))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [ ]:
#set:
#1. combination of unique values
#2. collection of unordered elements i.e some random values
#3. represented by curly brackets { }
#4. Mutable
set1= {'a', 'b', 'D',  1,2,3,4,'!', 'a', 'b', 'D',  1,2,3,4,'!' ,'#','@'}
print(set1)
print(type(set1))

{1, 2, 3, 4, 'D', 'b', '!', 'a'}
<class 'set'>

In [ ]:
#dictionary: unordered collections of key value pairs, below a is key and apple is value and so on

dict1= { 'a':'apple',
         'b': 'ball',
         'c':'cat'}
print(dict1)
print(type(dict1))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
<class 'dict'>

In [ ]:
#creation of list, set & tuple and set using all data types

#List
lst1= ['ram', 1,2+3j,'D', '#','ram', 1,2,3,'D', '#','me',True, False]
print(tup1)
print(type(lst1))

#tuple
tup1= ('hey',1,2.56,3,4+3j,'Hello','hey',1,2,3,4,'Hello',True, False )
print(tup1)
print(type(tup1) )

#set
set1= {1.2, 3,2,'hello world',3+5j,1.2, 3,2,'hello world',3+5j, 0 , True, False, } # removes duplicate value,, true or 1 is only displayed
print (set1)
print(type(set1))

('hey', 1, 2.56, 3, (4+3j), 'Hello', 'hey', 1, 2, 3, 4, 'Hello', True, False)
<class 'list'>
('hey', 1, 2.56, 3, (4+3j), 'Hello', 'hey', 1, 2, 3, 4, 'Hello', True, False)
<class 'tuple'>
{0, 1.2, 2, 3, True, (3+5j), 'hello world'}
<class 'set'>

In [ ]:
#index of a string
str1='sameer neupane'
print(str1)
print(type(str1))
print(len(str1))

print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[4])
print(str1[5])
print(str1[6])
print(str1[12])


str1[0:6:1],str1[7:14:1]

sameer neupane
<class 'str'>
14
s
a
m
e
e
r

n

('sameer', 'neupane')

In [ ]:
str2="Hello Sameer, How are you?"
print(len(str2))
print(str2[0])
print(str2[1])
print(str2[2])
print(str2[3])
print(str2[4])
print(str2[5])
print(str2[6])
print(str2[7])
print(str2[8])
print(str2[9])
print(str2[10])
print(str2[11])
print(str2[12])
print(str2[13])
print(str2[14])
print(str2[15])
print(str2[16])
print(str2[17])
print(str2[18])
print(str2[19])
print(str2[20])
print(str2[21])
print(str2[22])
print(str2[23])
print(str2[24])
print(str2[25])


str2[0:5:1], str2[6:12:1],str2[14:17:1],str2[18:21:1]

str2[::]
str2[0::]
str2[:len(str2):]
#index:Length:escapevalue

26
H
e
l
l
o

S
a
m
e
e
r
,

H
o
w

a
r
e

y
o
u
?

'Hello Sameer, How are you?'

In [ ]:
str3='Hello world, How are you?'

print(str3[::])
print(str3[0::])
print(str3[:len(str3):])
print(str3[0:5:1])
print(str3[6:12:1])
print(str3[13:16])
print(str3[17:20])
print(str3[21:25])

Hello world, How are you?
Hello world, How are you?
Hello world, How are you?
Hello
world,
How
are
you?