** functions in python***
1. built in functions
2. user defined functions

In [ ]:
#Type casting functions

int(), float(), complex(), bool(), str(), list(), tuple(), set(), dict()

In [ ]:
int1=1956

print(float(int1))
print(complex(int1))
print(bool(int1))
print(str(int1))

#print(list(int1)) TypeError: 'int' object is not iterable
#print(tuple(int1)) TypeError: 'int' object is not iterable
#print(set(int1))   TypeError: 'int' object is not iterable
#print(dict(int1))  TypeError: 'int' object is not iterable

1956.0
(1956+0j)
True
1956

In [ ]:
#decimal --> binary, octal and hexagonal

for i in range(0,100):
  print('Decimal', i)
  print('Binary', bin(i))
  print('Octal', oct(i))
  print('Hexadecimal', hex(i))

In [ ]:

#user defined functions

def sum_of_two( a,b):
  return(a+b)