In [ ]:
a=[1,2,3,4,5]
dir(a)

In [ ]:
#append : add the value at the last index of the list
a=[1,2,3,4,5]
print("Before Append",a)
a.append(8)
print("After append", a)

Before Append [1, 2, 3, 4, 5]
After append [1, 2, 3, 4, 5, 8]

In [ ]:
#clear: removes all elements of the list
a=[1,2,3,4,5]
print("Before clear",a)
a.clear()
print("After clear", a)
print(len(a))

Before clear [1, 2, 3, 4, 5]
After clear []
0

In [ ]:
#copy: copies the actual value
a_list=[1,2,3,4,5]
b_list=a_list
c_list=a_list.copy()
print("Actual list", a_list)
print("Equal to  list", b_list)
print("copy list", c_list)

print('====================')

a_list.append(8)
print("After operation Actual list", a_list)
print("After operation Equal to  list", b_list)
print("After operation copy list", c_list)

Actual list [1, 2, 3, 4, 5]
Equal to  list [1, 2, 3, 4, 5]
copy list [1, 2, 3, 4, 5]
====================
After operation Actual list [1, 2, 3, 4, 5, 8]
After operation Equal to  list [1, 2, 3, 4, 5, 8]
After operation copy list [1, 2, 3, 4, 5]

In [ ]:
#count: counts frequency of whatever is passed to the function
a_list=[1,2,3,4,55,6,7,8,9,9,]
print(a_list.count(77))
print(a_list.count(9))

0
2

In [ ]:
a_list=[1,2,3,4,5,6,7,8,9]

a_list.append([10,11,12])
print("Append Fucntion ", a_list)
print("Append function len", len(a_list))

Append Fucntion  [1, 2, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]
Append function len 10

In [ ]:
#extend: extends the function
a_list=[1,2,3,4,5,6,7,8,9]

a_list.extend([10,11,12])
print("Append Fucntion ", a_list)
print("Append function len", len(a_list))

Append Fucntion  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Append function len 12

In [ ]:
#2D list indexing
a_list=[1,2,3,4,5,6,7]

a_list.append([8,9,10])

print( a_list)
print(a_list[7])
print(a_list[7][1])

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]
[8, 9, 10]
9

In [ ]:
a_list=[1,2,3,4,5,6,7]

a_list.append([8,9,10])

print( a_list)
print(a_list[7])
print(a_list[7][::-1])

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]
[8, 9, 10]
[10, 9, 8]

In [ ]:
#index: returns index of the value
a_list=[11,22,33,44,55,66,77,33]

a_list.index(22)

1

In [ ]:
#insert: insert anywhere in list
#inserts function takes in to values index and object/value/number
a_list=[11,22,33,44,55,66,77,33]
a_list.insert(5,12)
print(a_list)

[11, 22, 33, 44, 55, 12, 66, 77, 33]

In [ ]:
#pop: pops out last value of the list by default or from the provided index

a_list=[11,22,33,44,55,66,77,33]

#print(a_list.pop())
print(a_list.pop(2))

#print(a_list)

33

In [ ]:
#remove: removes value from the list

a_list=[11,22,33,44,55,66,77,33]

a_list.remove(33)

print(a_list)

[11, 22, 44, 55, 66, 77, 33]

In [ ]:
#reverse: reverses the value of the string
a_list=[11,22,33,44,55,66,77,33]
a_list.reverse()
print(a_list)

[33, 77, 66, 55, 44, 33, 22, 11]

In [ ]:
#sort: sorts in ascending order
a_list=[11,226,33,74,55,66,787,303]
a_list.sort()
print(a_list)

[11, 33, 55, 66, 74, 226, 303, 787]

In [ ]:

a_list=[11,22,33,44,55,66,77,33]
a_list.sort(reverse=True)
print(a_list)

[77, 66, 55, 44, 33, 33, 22, 11]