In [ ]:
class Audi999:
  pass
obj1 = Audi999()

In [ ]:
print(type(obj1))

<class '__main__.Audi999'>

In [ ]:
class university_student:
  def student_info():
    pass

In [ ]:
obj1 = university_student()

In [ ]:
class university_student:
  def __init__(self, fname,mname,lname,gender,email,contact):
     self.fname= fname
     self.mname= mname
     self.lname= lname
     self.gender= gender
     self.email= email
     self.contact=contact

     def stud_details(self):
      print(self.fname, self.mname, self.lname, self.gender,self.email,self.contact)

In [ ]:
obj1=university_student("sam","Eer","Npn",'m',"sam.eer@gmail.com", 9849194619)

In [ ]:
obj1.stud_details()

Kin Zen Anto m kin.anto@firstmail.com 9876

In [ ]:
print(type(obj1))

<class '__main__.university_student'>

In [ ]:
class university_student:
  def __init__(self, fname, mname, lname, gender, email, contact):
    self.fname = fname
    self.mname = mname
    self.lname = lname
    self.gender = gender
    self.email = email
    self.contact = contact

  def stud_details(self):
    print(self.fname, self.mname, self.lname, self.gender, self.email, self.contact)

In [ ]:
obj1  = university_student('Kin', "Zen", "Anto", 'm', 'kin.anto@firstmail.com', 9876)

In [ ]:
obj1.stud_details()

Kin Zen Anto m kin.anto@firstmail.com 9876

In [ ]:
class emp_record:
  def __init__(self, empname,empgender, empaddress):
    self.empname=empname
    self.empgender=empgender
    self.empaddress=empaddress

  def emp_details(self):
    print()

In [ ]:
class car:
  def __init__(self,name,model,fuel,cc,cylinders):
    self.name=name
    self.model=model
    self.fuel=fuel
    self.cc= cc
    self.cylinders=cylinders

  def car_details(self):
    print(self.name, self.model,self.fuel,self.cc,self.cylinders  )

In [ ]:
obj1= car('Audi777','777','Electric', 3500,12)

In [ ]:
obj1.car_details()

Audi777 777 Electric 3500 12

In [ ]:
#Great Grand Parent
class transportation:
  pass

#grandParent
class air (transportation):
  pass
class water(transportation):
  pass
class land (transportation):
  pass

#Parent
class wheeler2(land):
  pass
class wheeler3(land):
  pass
class wheeler4(land):
  pass
class wheeler6(land):
  pass
class wheeler8(land):
  pass
class wheeler10(land):
  pass
class wheeler12(land):
  pass


#Child
class gas (wheeler4):
  pass
class petrol(wheeler4):
  pass
class disel (wheeler4):
  pass
class electricity (wheeler4):
  pass
class battery(wheeler4):
  pass
class solar (wheeler4):
  pass


                                                    house

In [ ]:
#Great Grand Parent

class house:
  pass

#grand Parent

class onebedroom(house):
  pass
class twobedroom(house):
  pass
class threebedroom(house):


#parents

 class onebath(onebedroom):
  pass
 class twobath(onebedroom):
  pass

#child

 class withbathtub(onebath):
  pass
 class nobathtub(onebath):
  pass