In [ ]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
#add: adds element to the set
set1 = {0,1, 2, 3}
set1.add(4)
print(set1)

{0, 1, 2, 3, 4}

In [ ]:
#clear: Removes all elements from the set

set1 = {0,1, 2, 3}
set1.clear()
print(set1)

set()

In [ ]:
#copy: copy the whole set
set1 = {0,1, 2, 3}
set2=set1.copy()
print(set2)

{0, 1, 2, 3}

In [ ]:
#difference: like A-B of set
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
set3 = set1.difference(set2)
print(set3)

{1, 2}

In [ ]:
#difference_update: Updates the current set by removing elements that are also in the other set.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6,0}
set1.difference_update(set2)
print(set2)

{0, 3, 4, 5, 6}

In [ ]:
#discard: remove element if its there
set1 = {0,1, 2, 3}
set1.discard(3)
print(set1)

{0, 1, 2}

In [ ]:
#intersection: common elements of sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.intersection(set2)
print(set3)

{3}

In [ ]:
#intersection_update: update element if they are common in both sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.intersection_update(set2)
print(set2)

{3, 4, 5}

In [ ]:
#isdisjoint: Returns true if sets have no elements in common
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = set1.isdisjoint(set2)
print(set3)

True

In [ ]:
#issubset: returns true if set is subset of another
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = set1.issubset(set2)
print(set3)

False

In [ ]:
#issuperset: returns true if the  set is a superset of another
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = set1.issuperset(set2)
print(set3)

False

In [ ]:
#pop: removes first element of set

set1 = {0,1, 2, 3}
a = set1.pop()
print(a)

0

In [ ]:
#remove: removes element from the set
set1 = {0,1, 2, 3}
set1.remove(2)
print(set1)

{0, 1, 3}

In [ ]:
#symmetric_difference:  removes same elements from set
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3= set1.symmetric_difference(set2)
print(set3)

{1, 2, 5, 6}

In [ ]:
#symmetric_difference_update: updates first set with elements athat are common

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 5, 6}

In [ ]:
#union: returns all values of set

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [ ]:
#update:updates first set with elements from second set
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}